:root {
    --primary-text-color: #212121;
    --primery-fon: #FFFFFF;
    --stile-text-color: #757575;
    --color-fon-button: #F5F4FA;
     --button-text-activ:#FFFFFF;
    --activ-button-color: #2196F3;
    --activ-text-color:  #2196F3;
    --footer-fon-color: #2F303A;
    --footer-text-color: #FFFFFF;}


body { color: var(--primary-text-color);
font-family: Roboto, sans-serif;
font-size: 14px;
background-color: var(--primery-fon);
}


/*navigac*/
.navigac:hover, .navigac:focus,
.contact:hover, .contact:focus,
.logo-navigac:hover, .logo-navigac:focus
{color: var(--activ-text-color);
     }
    

.perehod:activ {
    color: var(--activ-text-color);
}     

.contact {color: var(--stile-text-color);
    line-height: 1.14;
           }
/*aktivnaya ssulka*/
.current {color: var(--activ-text-color);}
           
.shapka {    
     height: 680px;
    text-align: center;
     }  


     /*centralnaya knopka*/  
.btn-start {display: inline-block;
    background-color: var(--activ-button-color);
    border-radius: 4px;
color: var(--footer-text-color);
padding: 10px 32px;
font-size: 16px;
font-weight: 700;
line-height: 1.9;}   

/*nash logotip*/
.logo-navigac {font-family: Raleway, cursive;
    font-size: 26px;
    font-weight: 700px;
    line-height: 1.19;}    

span {color: #2196F3;}
     
h1 {margin-top: 200px;
font-size: 44px;
line-height: 1.88;}     
    
.content {
    padding-left: 215px;
    padding-right: 215px;
         }
     
.pole {
    width: 270px;
      }
.text-stile {
    color: var(--stile-text-color)
    font-size: 16px;
}

.text-pole { font-size: 14px;
    line-height: 1.7;}


/*personal*/
.fon {background-color: var(--color-fon-color);}

.glava
    {
    font-size: 36px;
    margin-top: 94px;
    display: inline-block;
    text-align: center;
    }   

li {list-style: none;}

.social-links {line-height: 1.8;}


footer {
    padding-left: 215px;
    padding-right: 215px;
    background-color: var(--footer-fon-color);
    color: var(--footer-text-color);
      }
 
.adres-footer {color: rgba(255, 255, 255, 0.6); 
    line-height: 1.7;} 

footer > a {color: var(--footer-text-color);}

.zaglawn {
    font-weight: 700;
    text-transform: uppercase;
     line-height: 1.14;
}

 

      /* Vkladka Portfolio*/
.button 
        {display: inline-block;
        background-color: var(--color-fon-button);
        border-radius: 4px;
         padding: 6px 22px;
         font-size: 16px;
         font-weight: 500;
         line-height: 1.6;}

.button:hover,
.button:focus {
    background-color: var(--activ-button-color);
    color: var(--button-text-activ);
           }         


.box {width: 370px;
             } 
.text-box {color:#FFFFFF;
font-size: 18px;
line-height: 1.5;
background-color: #2196F3;}

.title-box {
    font-size: 18px;
    line-height: 2
     }

.subtitle {
       line-height: 1.9;
       color: var(--stile-text-color);
}          