:root {
    --primary-text-color: #212121;
    --primery-fon: #FFFFFF;
    --stile-text-color: #757575;
    --color-fon-button: #F5F4FA;
     --button-text-activ:#FFFFFF;
    --activ-button-color: #2196F3;
    --activ-text-color:  #2196F3;
    --footer-fon-color: #2F303A;
    --footer-text-color: #FFFFFF;
    --logo-color: #2196F3;
    --section-komanda-color: #F5F4FA;
    --color-adress-footer: rgba(255, 255, 255, 0.6);
    --text-fon: rgba(47, 48, 58, 0.8);  
    --color-zagolovka: #FFFFFF;}

body { color: var(--primary-text-color);
font-family: Roboto, sans-serif;
font-size: 14px;
background-color: var(--primery-fon);
}


/*navigac*/
.navigac:hover, .navigac:focus,
.contact:hover, .contact:focus,
.logo-navigac:hover, .logo-navigac:focus
{color: var(--activ-text-color);
     }
    

.perehod:activ {
    color: var(--activ-text-color);
}     

.contact {color: var(--stile-text-color);
    line-height: 1.14;
           }
/*aktivnaya ssulka*/
.current {color: var(--activ-text-color);}
           
.shapka {    
        text-align: center;
           }  


     /*centralnaya knopka*/  
.btn-start {
display: inline-block;
background-color: var(--activ-button-color);
border-radius: 4px;
color: var(--footer-text-color);
padding: 10px 32px;
font-size: 16px;
font-weight: 700;
line-height: 1.9;}   

/*nash logotip*/
.logo-navigac {font-family: Raleway, cursive;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.19;}    

span {color: var(--logo-color);}

.text-fon {background-color: var(--text-fon)
}


.baner {margin-top: 200px;
font-size: 44px;
line-height: 1.88;
color: var(--button-text-activ);
text-transform: uppercase;
background-color: var(--text-fon)
}     

h2 {color: var(--button-text-activ)}

.zaglawn {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.14;
    font-size: 14px;
       }
     
.text-stile {
    color: var(--stile-text-color)
    font-size: 16px;
}

.text-pole { font-size: 14px;
    line-height: 1.7;
color: var(--stile-text-color);}


/*personal*/
.komanda {background-color: var(--section-komanda-color);}

.title-section
    {
    font-size: 36px;
    margin-top: 94px;
    display: inline-block;
    line-height: 1.7;
    }   

li {list-style: none;}

.social-links {line-height: 1.8; 
    color: var(--stile-text-color);}


footer {
    color: var(--footer-text-color);
    background-color: var(--footer-fon-color);
     font-size: 14px;
  line-height: 1.19;
      }
 
.adres-footer {color: var(--color-adress-footer) ; 
    line-height: 1.7;
      } 

footer > a {color: var(--footer-text-color);
font-family: Raleway, cursive;
font-size: 26px;
font-weight: bold;
line-height: 1.19;}

.soc-seti > a {color: var(--color-adress-footer);}


 
.copirayt {color: var(--stile-text-color);}



      /* Vkladka Portfolio*/
.button 
        {display: inline-block;
        background-color: var(--color-fon-button);
        border-radius: 4px;
         padding: 6px 22px;
         font-size: 16px;
         font-weight: 500;
         line-height: 1.6;}

.button:hover,
.button:focus {
    background-color: var(--activ-button-color);
    color: var(--button-text-activ);
           }         




.text-box {color:#FFFFFF;
font-size: 18px;
line-height: 1.5;
background-color: #2196F3;}

.title-box {
    font-size: 18px;
    line-height: 2
     }

.subtitle {
       line-height: 1.9;
       color: var(--stile-text-color);
       }          